{{ if isset .Site.Params "routemap" }}
{{ if .Site.Params.routemap.enable }}
<section class="bar background-white">
    <div class="container">
		<div class="col-md-12">
            <div class="row" style="text-align: center">
                    <h2 class="text-uppercase">The Route</h2>
				<!-- <iframe id="mapmyfitness_route" src="//snippets.mapmycdn.com/routes/view/embedded/2536203322?width=600&height=400&elevation=true&line_color=E608a628&rgbhex=28a608&distance_markers=0&unit_type=metric&map_mode=ROADMAP&last_updated=2019-04-09T09:05:17+01:00" height="530px" width="100%" frameborder="0"></iframe><div style="text-align: right; padding-right: 0px;"> -->
                    <a href="https://www.strava.com/routes/19111181">
                        <img src="/images/map-v5.png" alt="The Hopton 10k running route" width="100%" style="max-width: 600px" />
                    </a>
                </div>
			</div>
		</div>

    </div>
</section>
{{ end }}
{{ end }}

