{{ if isset .Site.Params "routemap" }}
{{ if .Site.Params.routemap.enable }}
<a name="route" />
<section class="bar background-white">
    <div class="container">
		<div class="col-md-12">
            <div class="row" style="text-align: center">
                    <div class="heading text-center">
                        <h2>The Route</h2>
                    </div>
                    <a href="https://www.strava.com/routes/19111181">
                        <img src="/images/map-v5.jpg" alt="The Hopton 10k running route" width="100%" style="max-width: 600px" />
                    </a>
                    <h4>More detailed maps are available on: <a href="https://www.strava.com/routes/19111181"></a>Strava</a> | <a href="https://www.google.com/maps/d/viewer?mid=18nX-YnQGysQI_1L8-GL1aDeaNGweVj99">Google</a>.</h4>
                </div>
			</div>
		</div>

    </div>
</section>
{{ end }}
{{ end }}